<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <a href="/">Go Back </a>
    <h3><%= title %></h3>

    <form action="/new" method="post">
      <label for="author">Name</label>
      <input type="text" id="author" name="author" /> <br />
      <br />

      <label for="message">Comments</label>
      <input type="text" id="message" name="message" /> <br />
      <br />

      <input type="submit" value="Post" />
    </form>
  </body>
</html>
